.word-list {

}

.word-list__empty-list-info {

}

.word-list__list {
    display: flex;
    flex-wrap: wrap;
}

.word-list-item {
    border: 1px solid lightgray;
    background-color: #F4F4F4;
    border-radius: 5em;
    margin: 0 20px 25px 0;
    padding: 10px 15px;
    font-size: 120%;
    text-transform: uppercase;
}

.word-list-item__word {
    margin-right: 0.5em;
}

.word-list-item__delete-btn .anticon {
    color: lightgray;
}

.word-list-item__delete-btn:hover .anticon {
    color: white;
}

.word-enter {
    opacity: 0.01;
  }
  
.word-enter.word-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.word-leave {
    opacity: 1;
}
  
.word-leave.word-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-out;
 }