.printable .WS-board-preview__highlights-wrapper {
    display: none;
}

.printable .WS-board-preview__letter {
    border-color: transparent;
}

@media screen {
    .printable .WS-board-preview {
        width: 20cm;
        visibility: hidden !important;
        position: absolute;
    }

    .printable__word-box {
        display: none;
    }
}

@media print {

    body {
        width: 29.7cm;
        height: 21cm;
        margin: 0;
        padding: 0;
    }

    .printable {
        width: 29.7cm;
        height: 21cm;
        padding: 0.5cm;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 100;
        display: flex;
        justify-content: space-between;
    }

    
    .printable__word-box {
        display: block;
        width: 8cm;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .printable__word-box--word {
        display: block;
    }

    .printable .WS-board-preview {
        visibility: visible !important;
        display: flex;
        width: 20cm;
        height: 20cm;
    }

    .printable .WS-board-preview__letter {
        display: flex;
        font-weight: 100;
    }
}