/*----------------------------------------------------*/

.word-search-board {
    background-color: gray;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.word-search-board__letter {
    box-sizing: content-box;
    margin-bottom: -1px;
    margin-right: -1px;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/*----------------------------------------------------*/

.WS-board-preview__highlight_wrapper--crosswise-up,
.WS-board-preview__highlight_wrapper--crosswise-down,
.WS-board-preview__highlight_wrapper--horizontal,
.WS-board-preview__highlight_wrapper--vertical {
   /* background-color: rgba(25, 56, 212, 0.3);*/
    width: 100%;
    height: 100%;
    position: absolute;
}

.WS-board-preview__highlight--crosswise-up,
.WS-board-preview__highlight--crosswise-down,
.WS-board-preview__highlight--vertical,
.WS-board-preview__highlight--horizontal {
    position: absolute;
    border-radius: 10000px;
    box-sizing: border-box;
    border: 0.5px solid dimgray;
    background-color: rgba(25, 56, 212, 0.3);
}

/*----------------------------------------------------*/