/*----------------------------------------------------*/

.WS-board-preview {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.WS-board-preview__outline {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  box-sizing: border-box;
  border: 1px solid dimgray;
  position: absolute;
}


.WS-board-preview__letter {
    box-sizing: content-box;
    margin-bottom: -1px;
    margin-right: -1px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/*----------------------------------------------------*/

.WS-board-preview__highlights-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}

.WS-board-preview__highlights-wrapper--crosswise-up,
.WS-board-preview__highlights-wrapper--crosswise-down,
.WS-board-preview__highlights-wrapper--horizontal,
.WS-board-preview__highlights-wrapper--vertical {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.WS-board-preview__highlight--crosswise-up,
.WS-board-preview__highlight--crosswise-down,
.WS-board-preview__highlight--vertical,
.WS-board-preview__highlight--horizontal {
    position: absolute;
    border-radius: 10000px;
    box-sizing: border-box;
    border: 1px solid dimgray;
    background-color: rgba(75, 168, 103, 0.3);
}

/*----------------------------------------------------*/